<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <% @email = EmailMessage.where(:email => "Delete Student").first %>
  <body>
    <h1><%=@email.title%></h1>
    <p>
      <%=@email.header%><br>
    </p>
    <p><%=@email.footer%></p>
  </body>
</html>
