<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Registration Cancelled.</h1>
    <p>
      Your registration has been cancelled. Please contact the Coordinator if you did not place this request.<br>
    </p>
    <p>Thank you for participating and have a great day!</p>
  </body>
</html>
