<div style="margin-left:180px">
  <div style = "text-align: center">
    <font size="5px" color=maroon><strong>
      <%= "Create Event (Administrative Action)"%>
    </strong></font>
  </div>

  <%= render 'form' %>

  <%= link_to 'Back', events_path %>
  <br><br>
</div>