<div style="margin-left:180px">
  <div style = "text-align: center">
    <font size="5px" color=maroon><strong>
      <%= "Create Event (Administrative Action)"%>
    </strong></font>
  </div>

  <%= render 'form' %>

  <font size="5px" color="blue"><%= link_to 'Back', timeslots_path %></font>
  <br><br>
</div>