<div style="margin-left:150px; margin-right:150px">

<h1>Sign up</h1>

 <%= render 'form' %>
<br>

<%= link_to 'Back', sessions_url %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<%= link_to 'Back to login', root_url %>

</div>
