/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* sidebar */

html, body {
   margin-top: 100px ;
   margin-left: auto;
   margin-right: auto;
   background-color: #FFEECC;
   }

.button{
    width: 160px;
    height: 60px;
}

#header_back{
  position: absolute;
  top: 0px ;
  left: 0px;
    width: 100%;
    height: 170px;
    background-color: #500000;
}

aside {
  section.user_info {
    margin-top: 10px auto;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
/* forms */
 h1 {
      font-size: 2em;
      text-align: left;
      letter-spacing: 1px;
      margin-bottom: 15px;
      margin-top: 5px;
    }
 
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: auto;
  margin-left: 5px;
  margin-bottom: 5px;
      margin-top: 5px;
  /*padding-left: 150;*/
  /*@include box_sizing;*/
}

input {
  height: auto
  !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#fixed-footer{
   color:#333333; text-align:center;
  
  width:300px;
  position:fixed; bottom:0; left:75%;
  margin-right:-300px;
  _position: absolute; /* position fixed for IE6 */
  _top:expression(documentElement.scrollTop+documentElement.clientHeight-this.clientHeight-4);
  z-index:4;
}

td{
 text-align: center;
}

#globalnav {
  position:relative;
  float: left;
  /*width:100%;*/
  padding:1em 1em 1.75em 1em;
  margin: 0 0 100px 150px;
  list-style:none;
  line-height:1em;
}

#globalnav LI {
  float:left;
  margin:0;
  padding:0;
}

#globalnav A {
  display:block;
  color:white;
  text-decoration:none;
  font-weight:bold;
  background:#500000;
  margin:0;
  padding:0.25em 1em;
  border-left:1px solid #fff;
  border-top:1px solid #fff;
  border-right:1px solid #aaa;
  border-bottom:1px solid #fff;
}

#globalnav A:hover,
#globalnav A:active,
#globalnav A.here:link,
#globalnav A.here:visited {
  background:#bbb;
}

#globalnav A.here:link,
#globalnav A.here:visited {
  position:relative;
  z-index:102;
}

/*subnav*/

#globalnav UL {
  position:absolute;
  left:0;
  top:1.5em;
  float:left;
  background:#bbb;
  width:100%;
  margin:0;
  padding:0.25em 0.25em 0.25em 1em;
  list-style:none;
  border-top:1px solid #fff;
}

#globalnav UL LI {
  float:left;
  display:block;
  margin-top:1px;
}

#globalnav UL A {
  background:#bbb;
  color:#fff;
  display:inline;
  margin:0;
  padding:0 1em;
  border:0
}

#globalnav UL A:hover,
#globalnav UL A:active,
#globalnav UL A.here:link,
#globalnav UL A.here:visited {
  color:#444;
}
