<div>
  <font size="5px" color="maroon"><strong><%="Editing Appointment"%></strong></font><br><br>

  <%= render 'form' %>

  <%= link_to 'Show', @appointment %> |
  <%= link_to 'Back', appointments_path %>
</div>
